/* Seleçãp de elemento */

h2 { 
    font-family: 'courier new', 'courier', monospace;
    color: purple;
}

/* Seleção de id */
#tabela { 
    text-align: center;
    background-color: pink
}

/* Seleção de classe */
.negrito { 
    font-weight: bold;
}

    p.courier {
       font-familly: 'courier new', 'courier', monospace;
    }

h1,h2, h3 {
    font-style:italic
}

form button {
    background-color:brown
}